* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #181818;
  color: white;
  list-style: none;
}

/* Header */
header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111111;
}

header div {
  width: 30vw;
  height: 4vh;
  max-width: 350px;
  display: flex;
  justify-content: space-evenly;
}

header button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

header .acessar {
  width: 50%;
  border: none;
  background-color: red;
}

header .entrar {
  width: 30%;
  border: solid 1px white;
}

header img {
  width: 20vw;
  max-width: 300px;
  margin-left: 10px;
}

/* Main */
main {
  height: 75vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 80vw;
}

.episodio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.episodio h1 {
  font-size: 2em;
}

.episodio img {
  width: 20vw;
  max-width: 150px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards div {
  width: 28vw;
  height: 45vh;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards img {
  width: 100%;
  height: 25vh;
}

/* Footer */
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: #111111;
}

footer ul {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #111111;
}

footer li {
  font-weight: bold;
  font-size: 1.5em;
  background-color: #111111;
}
